span {
    color: red;
}

#login {
    background-color: #f1f1f1;
}

#vote {
    background-color: #f1f1f1;
    padding-bottom: 17.5px;
}

#chat {
    background-color: #f1f1f1;
    padding-bottom: 17.5px;
}

#chatLog {
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

#mainName {
    background-color: #f1f1f1;
    margin-left: 30px;
    margin-right: 30px;
}

#messageInput {
    width: 36.5%;
}

#voteName {
    background-color: #f1f1f1;
    margin-left: 30px;
    margin-right: 30px;
}

#votesoptionsoptions {
    background-color: #f1f1f1;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 17.5px;
}




.btto {
    
    background-color: #f1f1f1;
    margin-left: 30px;
    margin-right: 30px; 
}

.scroll { 
    width: 40%;
    height: 40%;
    overflow: auto;
    position: relative;
    bottom: 0;
}

.kokonaisuus {
    margin: 30px;
}

.message {
    margin: 0;
    padding: 0;
}

.myMessage {
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: right;
    padding-right: 5px;
}

.theirMessage {
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: left;
    padding-left: 5px;
}

.anon {
    color: gray;
    padding-top: 0px;
    padding-bottom: 2px;
    /*float: left;*/
    text-align: left;
    padding-left: 5px;
}

#option {
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    background-color: white;
}

.voteRoom {
    width: 20%;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
}

.voteoptionbutton {
    float: right;
}

body {
    text-align: center;
}